<a href="/#projects/<%= project.id %>">
  <div class="index-item-body">
    <div class="index-item-header clearfix">
      <h2 class="index-item-header-title col-md-8"><%= project.escape('title') %></h2>

      <button class="delete-project btn btn-danger col-md-2 pull-right">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </button>
    </div>

    <hr>

    <li class="list-project-description"><%= project.escape('description') %></li>
</a>

 <hr>

<div class="project-stats">
  <div class="row">
    <div class="stat col-md-6">
      <h3 class="stat-title"><%= project.escape("num_tasks") %></h3> Tasks
    </div>
    
    <div class="stat col-md-6">
      <h3 class="stat-title"><%= project.escape("num_members") %></h3> Members
    </div>
  </div>

  <div class="row">
    <div class="stat col-md-6">
      <h3 class="stat-title"><%= project.escape("num_uploads") %></h3> Documents
    </div>
    
    <div class="stat col-md-6">
      <h3 class="stat-title"><%= project.escape("num_assignments") %></h3> Assignments
    </div>
  </div>
</div>
