<a href="/#projects/<%= project.id %>">
  <div class="index-item-body">
    <div class="index-item-header clearfix">
      <h2 class="index-item-header-title col-md-8"><%= project.escape('title') %></h2>

      <% if (window.CURRENT_USER_ID === project.escape("owner_id")) { %>
        <button class="delete-project btn btn-danger col-md-2 pull-right">  
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
      <% } %>
    </div>

    <hr>
    <h5 id="project-owner">Project Owner: <%= project.escape("owner_name") %></h5>
    <hr>

    <h5 class="list-project-description"><%= project.escape('description') %></h5>
    <hr>
  </div>
</a>

<div class="project-stats">
  <div class="row">
    <div class="stat col-md-4">
      <h3 class="stat-title"><%= project.escape("num_members") %></h3> Members
    </div>
    
    <div class="stat col-md-4">
      <h3 class="stat-title"><%= project.escape("num_assignments") %></h3> Assignments
    </div>

    <div class="stat col-md-4">
      <h3 class="stat-title"><%= project.escape("num_uploads") %></h3> Documents
    </div>
  </div>

  <div class="row">
    <div class="stat col-md-4">
      <h3 class="stat-title"><%= project.escape("num_tasks") %></h3> Tasks
    </div>
    
    <div class="stat col-md-4">
      <h3 class="stat-title"><%= project.escape("num_complete") %></h3> Complete
    </div>

    <div class="stat col-md-4">
      <h3 class="stat-title" id="percentage-complete">
        <%= percentage %>%</h3> Progress
    </div>
  </div>
</div>
