<div class="col-md-2" id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"><a href="#">PROJECT TRACKER</a></li>
    <li><a href="/">
      <span class="glyphicon glyphicon-home btn-lg" aria-hidden="true"></span>Home</a>
    </li>

    <li><a href="/#users/<%= window.CURRENT_USER_ID %>">
      <span class="glyphicon glyphicon-user btn-lg" aria-hidden="true"></span><%= window.CURRENT_USER_USERNAME %></a>
    </li>

    <li><a href="/#home">
      <span class="glyphicon glyphicon-tasks btn-lg" aria-hidden="true"></span>Projects Index</a>
    </li>

    <li><a href="#" class="sign-out">
      <span class="glyphicon glyphicon-log-out btn-lg" aria-hidden="true"></span>Sign Out</a>
    </li>
  </ul>
</div>

<div class="task-main col-md-10 col-md-offset-1">
  <div class="task-show-sidebar col-md-6">
    <!-- Task Header -->
    <div class="task-show-header">
      <h1 id="task-show-title"><%= task.escape('title') %></h1><br>

      <h4 id="task-status">Status: <%= task.escape('status') %></h4>

      <% if (task.escape("status") !== "completed") { %>
        <button class="task-complete btn btn-success pull-right">Mark Complete!</button><br>
      <% } %>

      <h4 id="task-project"><a href="/#projects/<%= task.escape('project_id')%>">Project: <%= task.escape("project_title") %></a></h4>
      
      <h4 id="task-owner"><a href="/#users/<%= task.escape('author_id') %>">Owner: <%= task.escape('owner_name') %></a></h4>
      <h3 id="task-description">Description: </h3><p id="task-description"><%= task.escape('body') %></p>
    </div>

    <div class="task-assignments"></div>
    
    <button class="back-task btn btn-pri">Back</button>
  </div>

  <div class="task-show-body col-md-5 col-md-offset-1">
    <div class="row">
      <h1 class="comments-header">Comments</h1>

      <form>
        <textarea class="form-control" name="comment[body]"id="comment-body"></textarea>
        <br>
        <input type="submit" class="create-comment btn btn-success" data-author-id="<%= window.CURRENT_USER_ID %>" value="New Comment">
      </form>

    </div>

    <div class="comments-section pre-scrollable"></div>
  </div>
</div>